{% load i18n %}
{% load static %}

<!--::subscribe us part end::-->
<section class="subscribe_part padding_bottom">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-lg-8">
                 <div class="subscribe_part_text text-center">
                     <h2>{% trans "Experience the most simple way to <br> manage business" %}</h2>
                     <div class="subscribe_form">
                         <form action="#">
                             <div class="form-row">
                                 <div class="col-sm-9">
                                     <input type="email" class="form-control" placeholder="{% trans 'enter your email' %}">
                                 </div>
                                 <div class="col-sm-3">
                                     <div class="subscribe_btn">
                                         <div class="btn_2 d-block">{% trans "News Letter" %}</div>
                                     </div>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <img src="{% static 'img/animate_icon/Ellipse_5.png' %}" alt="" class="feature_icon_2 custom-animation2">
 </section>
 <!--::subscribe us part end::-->

 <!--::client logo part end::-->
 <!-- <section class="client_logo">
     <div class="container">
         <div class="row align-items-center">
             <div class="col-lg-12">
                 <div class="client_logo_slider owl-carousel d-flex justify-content-between">
                     <div class="single_client_logo">
                         <img src="{% static 'img/client_logo/client_logo_1.png' %}" alt="">
                     </div>
                     <div class="single_client_logo">
                         <img src="{% static 'img/client_logo/client_logo_2.png' %}" alt="">
                     </div>
                     <div class="single_client_logo">
                         <img src="{% static 'img/client_logo/client_logo_3.png' %}" alt="">
                     </div>
                     <div class="single_client_logo">
                         <img src="{% static 'img/client_logo/client_logo_4.png' %}" alt="">
                     </div>
                     <div class="single_client_logo">
                         <img src="{% static 'img/client_logo/client_logo_5.png' %}" alt="">
                     </div>
                     <div class="single_client_logo">
                         <img src="{% static 'img/client_logo/client_logo_1.png' %}" alt="">
                     </div>
                     <div class="single_client_logo">
                         <img src="{% static 'img/client_logo/client_logo_2.png' %}" alt="">
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section> -->
 <!--::client logo part end::-->