
{% if id == 1 and lang_code == "en-us" %}
Smart Shop can help you to boost your business in a very efficient and modern way. it can take care of your business reports, profit summary, expenses and revenues on the road, office or from home. <a href="https://www.youtube.com/watch?v=CGohh8mu5r8&t=2s" target="_blank">more info</a>
{% elif id == 1 and lang_code == "fa" %}
فروشگاه هوشمند می تواند به شما در رونق تجارت تان به روشی بسیار کارآمد و مدرن کمک کند. این می تواند از گزارشات شغلی ، خلاصه سود ، هزینه ها و درآمدها در جاده ، محل کار و یا خانه تان خبر دهد. <a href="https://www.youtube.com/watch?v=CGohh8mu5r8&t=2s" target="_blank">معلومات بیشتر</a>
{% elif id == 1 and lang_code == "ur" %}
سمارټ شاپ کولی شي تاسو سره په خورا اغیزمنه او عصري لاره کې ستاسو د سوداګرۍ وده کولو کې مرسته وکړي. دا کولی شي ستاسو د سوداګرۍ راپورونو ، د ګټې لنډیز ، لګښتونو او عایداتو په سړک ، دفتر یا کور کې پاملرنه وکړي. <a href="https://www.youtube.com/watch?v=CGohh8mu5r8&t=2s"" target="_blank">نور معلومات</a>



{% elif id == 2 and lang_code == "en-us" %}
User imagination and experience were the main goal while developing this app. It is designed with very easy interactive interfaces which user enjoy while using it. As we have developed this app for both Android and iOS platforms, we tried to keep the design as similar as possible so if user switches between these two platforms experience the same interactivity.
{% elif id == 2 and lang_code == "fa" %}
تخیل و تجربه کاربر در هنگام تهیه این برنامه هدف اصلی بوده است. این نرم افزار با رابطه ای تعاملی بسیار آسان طراحی شده است که کاربر هنگام استفاده از آن لذت می برد. همانطور که ما این برنامه را برای هر دو سیستم عامل اندراید و سیستم عامل اپل توسعه داده ایم ، سعی کردیم تا حد ممکن طراحی را حفظ کنیم تا اگر کاربر بین این دو سیستم عامل تعویض کرد ، تجربه کاربر را در هر دو سیستم به طور یکسان حفظ کنیم
{% elif id == 2 and lang_code == "ur" %}
د کاروونکي تخیل او تجربه اصلي هدف و پداسې حال کې چې د دې اپلیکیشن وده. دا د خورا اسانه متقابل انٹرفیسونو سره ډیزاین شوی چې کاروونکي د کارولو پرمهال ترې خوند اخلي. لکه څنګه چې موږ د دې اندراید او اپل دواړه پليټفارمونو لپاره دا اپلیکشن رامینځته کړی ، موږ هڅه کړې چې ډیزاین ورته د امکان تر حده وساتو نو که چیرې کاروونکي د دې دوه پلیټونو ترمینځ ورته تعامل تجربه کړي



{% elif id == 2221 and lang_code == "en-us" %}
This app is more than just a point of sale. As it has financial control, invoicing, manage remotely, label printing, backup services and web panel make this app more than just a regular POS. App has three languages i.e. English , Dari and Pashto. It works fast because it is on-premise and cloud-based. In case user has no internet connection, it works on-premise.
{% elif id == 2221 and lang_code == "fa" %}
این برنامه چیزی بیش از یک برنامه فروشگاه است. از آنجا که کنترل مالی ، صورتحساب ، مدیریت از راه دور ، چاپ برچسب ، خدمات پشتیبان و پانل وب باعث شده این برنامه بیشتر از یک برنامه فروشگاه معمولی باشد. برنامه دارای سه زبان است یعنی انگلیسی ، دری و پشتو. این برنامه سریع کار می کند زیرا به صورت محلی و مبتنی بر ابر است. در صورت عدم دسترسی به اینترنت ، محلی کار می کند
{% elif id == 2221 and lang_code == "ur" %}
دا اپلیکیشن د پلور له نقطې څخه ډیر دی. لکه څنګه چې دا مالي کنټرول لري ، رسید کول ، له لرې لرې اداره کول ، د لیبل چاپ ، بیک اپ خدمات او ویب پینل دا اپلیکیشن یوازې د منظم د فروشگاه برنامه څخه ډیر جوړوي. ایپ درې ژبې لري لکه انګلیسي ، دري او پښتو. دا ګړندي کار کوي ځکه چې دا پریميډ او بادل میشته دی. په هغه صورت کې چې کارونکی د انټرنیټ اتصال نلري ، نو دا په اساس کار کوي



{% elif id == 2222 and lang_code == "en-us" %}
There are many POS out there but this one is designed to overcome barriers such as language, internet connectivity and  speed. User can use this app without any internet connectivity as it has local storage and this feature also make it faster than online POS and more importantly this app has web panel as well which you can backup your app data and  manage remotely.
{% elif id == 2222 and lang_code == "fa" %}
تعداد زیادی برنامه فروشگاه در مارکت وجود دارد ، اما این یکی برای غلبه بر موانعی مانند زبان ، اتصال به اینترنت و سرعت طراحی شده است. کاربر می تواند از این برنامه بدون هیچ گونه اتصال به اینترنت استفاده کند زیرا فضای محلی دارد و این ویژگی باعث سریع بودن این برنامه نسبت به سایر برنامه هاست. مهمتر از همه این برنامه دارای صفحه وب است و همچنین می توانید از داده های برنامه خود نسخه پشتیبان تهیه کرده و از راه دور مدیریت کنید
{% elif id == 2222 and lang_code == "ur" %}
دلته ډیری برنامه فروشگاه شتون لري مګر دا یو د دې لپاره ډیزاین شوی چې د خنډونو لکه ژبه ، انټرنیټ اتصال او سرعت لرې کړي. کارنان کولی شي دا اپلیټ پرته د انټرنیټ اتصال وکاروي ځکه چې دا سیمه ایز ذخیره لري او دا  د آنلاین د فروشگاه برنامه په پرتله ګړندي کوي او خورا مهمه دا چې دا ایپ ویب پینل لري کوم چې تاسو کولی شئ د خپل اپلیکیشن ډیټا بیک اپ کړئ او په لیرې توګه اداره کړئ



{% elif id == 3 and lang_code == "en-us" %}
Analytics by textual and graphical, Orders and invoices, Holds (waiting order), return orders and notifications which are triggered by daily and any events.
{% elif id == 3 and lang_code == "fa" %}
تجزیه و تحلیل با استفاده از متن و گرافیکی ، سفارشات و فاکتورها ،سفارش انتظار ، سفارشات  برگشتی و پیغام های که روزانه ویا توسط رویدادی  ایجاد میشود
{% elif id == 3 and lang_code == "ur" %}
د متني او ګرافیکي ، سفارشونو او بلونو له مخې تحلیلونه ، انعکاسونه د انتظار سفارشونه ، د راستنیدو امرونه او خبرتیاوې چې د ورځنۍ او کومې پیښې لخوا محرک کیږي


{% elif id == 3331 and lang_code == "en-us" %}
By backup you can shift from on-premise to cloud based which means somebody else also can see app activities. You can import all cloud based data to local storage in case you get a new cell phone.
{% elif id == 3331 and lang_code == "fa" %}
با تهیه نسخه پشتیبان می توانید از حافظه محلی به آنلاین تغییر دهید و این بدان معنی است که شخص دیگری نیز می تواند فعالیت های برنامه را مشاهده کند. در صورت دریافت تلفن همراه جدید می توانید تمام داده های مبتنی بر ابر را به حافظه محلی وارد کنید
{% elif id == 3331 and lang_code == "ur" %}
د بیک اپ له لارې تاسو کولی شئ له پریزنټیشن څخه بادل اساس ته واړوئ پدې معنی چې یو بل څوک هم کولی شي د اپرېشن فعالیتونه وګوري. تاسو کولی شئ ټول د بادل پراساس ډیټا محلي زیرمو ته وارد کړئ که چیرې تاسو نوی ګرځنده تلیفون ترلاسه کړئ



{% elif id == 3332 and lang_code == "en-us" %}
Financial control such as profit, revenue and expenses; sale process management by barcode, QR and date time filters; web panel for reporting to a boss.
{% elif id == 3332 and lang_code == "fa" %}
کنترل مالی مانند سود ، درآمد و هزینه؛ مدیریت فرآیند فروش توسط بارکد ، کیو آر و فیلتر زمان تاریخ. پانل وب برای گزارش به یک رئیس
{% elif id == 3332 and lang_code == "ur" %}
مالي کنټرول لکه ګټه ، عاید او لګښتونه؛ د بارکوډ ، کیو آر او نیټې وخت فلټرونو لخوا د پلور پروسې مدیریت؛ باس ته راپور ورکولو لپاره ویب پینل



{% elif id == 4 and lang_code == "en-us" %}
Computerized systems allow for greater efficiency in performing specific tasks and help your business run efficiently. Every item in the store or on a menu is accounted for and will be tracked based on the information you input into the system. The system will provide your business with several features including inventory management, sales transactions, cash flow, item cost, reporting, analytics, orders, invoices … etc. A POS system can effectively boost your business in several ways such as Finance control, better productivity, reliable data, save time and effort.
{% elif id == 4 and lang_code == "fa" %}
سیستم های کمپیوتری باعث افزایش کارایی در انجام کارهای خاص می شوند و به کار شما کمک می کنند تا بهتر باشد. هر کالای موجود در فروشگاه یا یک منو براساس اطلاعاتی که وارد سیستم می کنید ، ردیابی می شود. این سیستم چندین ویژگی از جمله مدیریت موجودی ، معاملات فروش ، گردش پول ، هزینه کالاها ، گزارشگری ، تجزیه و تحلیل ، سفارشات ، فاکتورها و… را در اختیار شما قرار می دهد. ، داده های قابل اعتماد ، حفظ وقت و منابع
{% elif id == 4 and lang_code == "ur" %}
کمپیوټری سیسټمونه د ځانګړو دندو ترسره کولو کې لوی فعالیت لپاره اجازه ورکوي او ستاسو د سوداګرۍ موثره چلولو کې مرسته کوي. په پلورنځي یا مینو کې هر توکي محاسبه کیږي او د هغه معلوماتو پراساس به تعقیب شي چې تاسو سیسټم ته دننه کوئ. سیسټم به ستاسو سوداګرۍ ته د مختلفو برخی سره چمتو کړي پشمول د توکو مدیریت ، د پلور معاملې ، نغدي جریان ، راپور ورکول ، تحلیلونه ، امرونه ، رسیدونه .... نور ، معتبر معلومات ، وخت او هڅې خوندي کوي



{% elif id == 5 and lang_code == "en-us" %}
A POS system is very efficient no matter what type of business you own. It will store all your information in one place. You will be able to pull up sales records, inventory records, print reports and much more. You can find out how much money is in the cash drawer, how much your profits, expenses and revenues are, daily totals, track inventory, sales trends, historical data, and more additional information using the many features that come with POS. These systems will save the time you spend on inventory and sales figures by a drastic amount.
{% elif id == 5 and lang_code == "fa" %}
برای یک سیستم برنامه فروشگاه مهم نیست که چه نوع شغلی را در اختیار دارید. تمام اطلاعات شما را در یک مکان ذخیره می کند. شما قادر خواهید بود تا سوابق فروش ، سوابق موجودی ، گزارش های چاپی و موارد دیگر را جمع کنید. می توانید با استفاده از بسیاری از ویژگی های موجود در برنامه فروشگاه ، دریابید که چه میزان پول در کشو پول می باشد ، میزان سود ، هزینه و درآمد شما چقدر است ، مبلغ روزانه ، تعقیب موجودی ، روند فروش ، داده های تاریخی و اطلاعات بیشتر. این سیستم ها مدت زمانی را که برای موجودی و ارقام فروش صرف می کنید ، با صرفه جویی چشمگیر محاسبه می کنند
{% elif id == 5 and lang_code == "ur" %}
د پوز سیسټم خورا اغیزمن دی پرته لدې چې مهمه نده چې تاسو کوم ډول سوداګرۍ لرئ. دا به ستاسو ټول معلومات په یو ځای کې ذخیره کړي. تاسو به وکولی شئ د پلور ریکارډونه ، د موجودی ریکارډونه ، د چاپ راپورونه او نور ډیر څه وخورئ. تاسو کولی شئ ومومئ چې د نغدو ډراو کې څومره پیسې دي ، ستاسو ګټې ، لګښتونه او عایدات څومره دي ، ورځني مجموعه ، د تعقیب فهرست ، د پلور رجحانات ، تاریخي معلومات ، او نور اضافي معلومات چې د ډیری ځانګړتیاو کارولو په کارولو سره چې د فروشگاه برنامه سره راځي. دا سیسټمونه به هغه وخت خوندي کړي چې تاسو د سخت مقدار په واسطه د لیږد او پلور ارقامو باندې مصرف کوئ



{% elif id == 6 and lang_code == "en-us" %}
Following prices are only for app and web panel. Other appliances which are required for app are not part of it such as bluetooth thermal printer, cell phone.
{% elif id == 6 and lang_code == "fa" %}
قیمت های زیر فقط برای برنامه و صفحه وب است. سایر وسایل مورد نیاز برنامه ، بخشی از آن نیست مانند چاپگر بلوتوث ، تلفن همراه
{% elif id == 6 and lang_code == "ur" %}
لاندې نرخونه یوازې د اپلیکیشن او ویب پینل لپاره دي. نور وسایل چې د ایپ لپاره اړین دي د دې برخه ندي لکه د بلوتوټ حرارتي پرنټر ، ګرځنده تلیفون



{% elif id == 7 and lang_code == "en-us" %}
Following questions are the most frequent asked question by users.
{% elif id == 7 and lang_code == "fa" %}
سوالات زیر از جمله بیشترین سوالاتی است که توسط کاربران پرسیده شده
{% elif id == 7 and lang_code == "ur" %}
لاندې پوښتنې د کاروونکو لخوا تر ټولو ډیری پوښتل شوي پوښتنې دي



{% elif id == 8 and lang_code == "en-us" %}
Smart Shop can take care of your business reports, profit summary, expenses and revenues on the road, office or from home.
{% elif id == 8 and lang_code == "fa" %}
فروشگاه هوشمند می تواند از گزارشات مشاغل ، خلاصه سود ، هزینه ها و درآمدهای موجود در جاده ، محل کار یا خانه تان مراقبت کند
{% elif id == 8 and lang_code == "ur" %}
سمارټ شاپ کولی شي ستاسو د سوداګرۍ راپورونو ، د ګټې لنډیز ، لګښتونو او عایداتو ته په سړک ، دفتر یا کور کې پاملرنه وکړي


{% elif id == 9 and lang_code == "en-us" %}
What would happen if a user contract is over?
{% elif id == 9 and lang_code == "fa" %}
چه اتفاقی می افتد اگر یک قرارداد کاربر تمام شود؟
{% elif id == 9 and lang_code == "ur" %}
څه به پیښ شي که د کارونکي تړون پای ته ورسیږي؟



{% elif id == 10 and lang_code == "en-us" %}
We notify the user a week before the contract is going to over and they should update their contract. when contract is over the shopping cart process will be blocked and user would not be able to checkout the shopping cart and also the backup services also would be blocked.
{% elif id == 10 and lang_code == "fa" %}
ما یک هفته قبل از پایان قرارداد به کاربر اطلاع می دهیم و آنها باید قرارداد خود را به روز کنند. با پایان یافتن قرارداد ، فرآیند سبد خرید مسدود خواهد شد و کاربر قادر به استفاده سبد خرید نخواهد بود و همچنین خدمات پشتیبان نیز مسدود می شوند
{% elif id == 10 and lang_code == "ur" %}
موږ کاروونکي ته یوه اونۍ دمخه خبرداری ورکوو چې تړون پای ته رسي او دوی باید خپل تړون تازه کړي. کله چې قرارداد د پیرود کارټ پروسې پای ته رسیدلی وي او کارونکي به د دې امکان ونلري چې د خریداری کارټ چیک کړي او همدارنګه د بیک اپ خدمات به هم بند شي



{% elif id == 11 and lang_code == "en-us" %}
Can we shift from trial version to paid packages?
{% elif id == 11 and lang_code == "fa" %}
آیا می توانیم از نسخه آزمایشی به بسته های پرداخت شده تغییر دهیم؟
{% elif id == 11 and lang_code == "ur" %}
ایا موږ کولی شو د آزموینې نسخه څخه تادیه شوي کڅوړو ته واړوو؟



{% elif id == 12 and lang_code == "en-us" %}
If you have installed the trial version in your device you can shift to paid packages if you sign a contract with service provider but we recommend you a new installation of app with clean database.
{% elif id == 12 and lang_code == "fa" %}
اگر نسخه آزمایشی را در دستگاه خود نصب کرده اید می توانید در صورت عقد قرارداد با ارائه دهنده خدمات ، به بسته های پرداخت شده بروید اما به شما نصب جدید برنامه با بانک اطلاعاتی جدید توصیه می کنیم
{% elif id == 12 and lang_code == "ur" %}
که تاسو په خپل وسیله کې د آزموینې نسخه نصب کړې وي نو تاسو تادیه شوي کڅوړو ته اړولی شئ که چیرې تاسو د خدماتو چمتو کونکي سره تړون لاسلیک کړئ مګر موږ تاسو ته د پاک ډیټابیس سره د نوي نصب کولو وړاندیز کوو


{% elif id == 13 and lang_code == "en-us" %}
Can we get more than 12 month contract?
{% elif id == 13 and lang_code == "fa" %}
آیا می توانیم بیش از 12 ماه قرارداد ببندیم؟
{% elif id == 13 and lang_code == "ur" %}
ایا موږ کولی شو له 12 میاشتې ډیر قرارداد ترلاسه کړو؟


{% elif id == 14 and lang_code == "en-us" %}
In our business policy we only have those packages that we have mentioned in pricing but our arms are always open for change and negotiate.
If you have reasonable offer.
{% elif id == 14 and lang_code == "fa" %}
در پالیسی تجارت ما فقط آن دسته از بسته ها را داریم که در قیمت گذاری به آنها اشاره کردیم اما آغوش ما همیشه برای تغییر و پیشنهاد باز است
{% elif id == 14 and lang_code == "ur" %}
زموږ د سوداګرۍ په پالیسۍ کې موږ یوازې هغه کڅوړې لرو چې موږ یې په نرخ کې یادونه کړې مګر زموږ وسلې تل د بدلون او خبرو اترو لپاره خلاصې دي


{% elif id == 15 and lang_code == "en-us" %}
Analyze the selling process & and inventory by datetime through five years in textual and graphical forms.
{% elif id == 15 and lang_code == "fa" %}
فرآیند فروش و موجودی را به مدت پنج سال به روش های متنی و گرافیکی تجزیه و تحلیل میکند
{% elif id == 15 and lang_code == "ur" %}
د نیټې پر مهال د پلور پروسې او انوینټري تحویل کړئ چې د پنځه کالو په اوږدو کې متني او ګرافیکي ب .و کې


{% elif id == 16 and lang_code == "en-us" %}
Store and search product by barcode if it has any or create if not; track the orders and invoices by QR.
{% elif id == 16 and lang_code == "fa" %}
ذخیره و جستجو محصول توسط بارکد و ايجاد بارکد در صورت نبود. سفارشات و فاکتورها را توسط کیوآر پیگیری میکند
{% elif id == 16 and lang_code == "ur" %}
د بارکوډ په واسطه محصول ذخیره او لټون کړئ که دا لري یا جوړ کړي که نه؛ د کیو آر لخوا سپارښتنې او رسیدونه تعقیب کړئ


{% elif id == 17 and lang_code == "en-us" %}
Print the receipt of orders by bluetooth thermal printer or print the invoices by regular wireless printers.
{% elif id == 17 and lang_code == "fa" %}
چاپ رسید سفارشات توسط چاپگر بلوتوث ویا چاپ فاکتور توسط چاپگر های معمولی
{% elif id == 17 and lang_code == "ur" %}
د بلوتوت حرارتي پرنټر په واسطه د سپارښتنو رسید چاپ کړئ یا د منظم بې سیم پرنټرونو لخوا رسیدونه چاپ کړئ


{% elif id == 18 and lang_code == "en-us" %}
Track & manage inventory by category and variants. Track the stock of every product by placing a single order.
{% elif id == 18 and lang_code == "fa" %}
پیگیری و مدیریت موجودی بر اساس طبقه بندی و انواع. با ایجاد یک سفارش ، سهام هر محصول را ردیابی کنید
{% elif id == 18 and lang_code == "ur" %}
د کټګورۍ او ډولونو په واسطه د موجودیت تعقیب او اداره کړئ. د یو واحد حکم په ورکولو سره د هر محصول سټاک وپلټئ


{% elif id == 19 and lang_code == "en-us" %}
Track every order and invoice with it's details along with the reverse of this process which is called return.
{% elif id == 19 and lang_code == "fa" %}
هر سفارش و فاکتور را با جزئیات آن همراه با معکوس این فرآیند که به آن برگشتی خوانده می شود ، دنبال کنید
{% elif id == 19 and lang_code == "ur" %}
هر آرډر او انوائس د دې جزیاتو سره د دې پروسې برعکس سره تعقیب کړئ کوم چې بیرته ستنیدل ویل کیږي


{% elif id == 20 and lang_code == "en-us" %}
User can track maximum process of app by web panel if he/she is not using the app as a cashier.
{% elif id == 20 and lang_code == "fa" %}
اگر کاربر از برنامه به عنوان صندوق دار استفاده نمی کند ، کاربر می تواند حداکثر روند برنامه را توسط صفحه وب استفاده کند
{% elif id == 20 and lang_code == "ur" %}
کارن کولی شي د ویب پینل لخوا د اپیل اعظمي پروسې تعقیب کړي که چیرې هغه / دا د کیشیر په توګه اپلیکیشن نه کاروي


{% elif id == 21 and lang_code == "en-us" %}
You can abolish the 'put it on the cuff' way of selling and know how much everyone owes you and to when it is due.
{% elif id == 21 and lang_code == "fa" %}
می توانید روش فروش با قرضه را از بین ببرید و بدانید هر کس به شما بدهکار است و چه موقع موعد مقرر است
{% elif id == 21 and lang_code == "ur" %}
تاسو کولی شئ د پلورلو 'کف کې واچوئ' لاره لغوه کړئ او پوهه شئ چې هرڅوک ستاسو څخه څومره پوروړی دی او کله چې وجه وي


{% elif id == 22 and lang_code == "en-us" %}
Backup your data to cloud to keep it safe and pursue your app activities in your online portal account.
{% elif id == 22 and lang_code == "fa" %}
برای ایمن نگه داشتن اطلاعات و پیگیری فعالیت های برنامه در حساب پورتال آنلاین ، از داده های خود در فضای انلاین نسخه پشتیبان تهیه کنید
{% elif id == 22 and lang_code == "ur" %}
خپل ډیټا بادل ته بیک اپ کړئ ترڅو دا خوندي وساتي او خپل آنلاین پورټل حساب کې د خپل اپلیکیشن فعالیتونه تعقیب کړئ


{% elif id == 23 and lang_code == "en-us" %}
{% elif id == 23 and lang_code == "fa" %}
{% elif id == 23 and lang_code == "ur" %}



{% elif id == 24 and lang_code == "en-us" %}
{% elif id == 24 and lang_code == "fa" %}
{% elif id == 24 and lang_code == "ur" %}

{% elif id == 25 and lang_code == "en-us" %}
{% elif id == 25 and lang_code == "fa" %}
{% elif id == 25 and lang_code == "ur" %}


{% endif %}




