{% load static %}
{% load i18n %}
<!--smart url-->

<!-- Admin -->
{% url 'dashboard:dashboard_menu' as dashboard_menu_url %}
{% url 'dashboard:list' as list %}
{% url 'dashboard:create' as client_create_url %}
{% url 'dashboard:payment_list' as payment_list_url %}

<!-- Users -->
{% url 'pos:pos_home' as user_dashboard_url %}
{% url 'pos:enabled' as enabled_product_url %}
{% url 'pos:disabled' as disabled_product_url %}
{% url 'pos:order' as order_url %}
{% url 'pos:invoice' as invoice_url %}
{% url 'pos:daily' as daily_url %}
{% url 'pos:monthly' as monthly_url %}
{% url 'pos:session' as session_url %}
{% url 'pos:monthly_return' as monthly_return_url %}
{% url 'pos:annual_return' as annual_return_url %}
{% url 'pos:notification' as note_url %}
{% url 'pos:category' as category_url %}
{% url 'pos:variant' as variant_url %}
{% url 'pos:current_session' as current_session_url %}
{% url 'pos:log_list' as log_list_url %}


 <!-- Navbar -->
 <nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'home' %}" class="nav-link">{% trans "Home" %}</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'contact_us' %}" class="nav-link">{% trans "Contact" %}</a>
    </li>
  </ul>

  <!-- SEARCH FORM -->
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm">
      <input class="form-control form-control-navbar" type="search" placeholder="{% trans 'Search' %}" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'pos:notification' %}">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">#</span>
      </a>
    </li>
    {% if request.path == list %}
    <li class="nav-item">
      <a class="nav-link"  data-slide="true" href="{% url 'dashboard:create' %}" role="button">
        <i class="fas fa-plus"></i> {% trans "Add User" %}
      </a>
    </li>
    {% endif %}
    
  </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static 'admin_lte/dist/img/smar_shop_logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">{% trans "Smart Shop" %}</span>
  </a>

  <!-- Admin Part Sidebar -->
  {% if request.user.is_authenticated and request.user.admin %}
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'admin_lte/dist/img/avatar5.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ request.user.full_name }}</a>
      </div>
    </div>

    <!--  Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'dashboard:dashboard_menu' %}" class="nav-link {% if request.path == dashboard_menu_url %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              {% trans "Dashboard" %}
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard:list' %}" class="nav-link {% if request.path == list %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              {% trans "Users" %}
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'dashboard:payment_list' %}" class="nav-link {% if request.path == payment_list_url %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              {% trans "Payments" %}
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>


  <!-- /////////////////////////////// -->


  {% elif request.user.is_authenticated and not request.user.admin %}
  
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'admin_lte/dist/img/avatar5.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'pos:client_profile' %}" class="d-block">{{ request.user.full_name }}</a>
      </div>
    </div>

    <!--  Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="{% url 'pos:pos_home' %}" class="nav-link {% if request.path == user_dashboard_url %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              {% trans "Dashboard" %}
              <!-- analytics and all dashboard info will goes here in this page....  -->
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview {% if request.path == enabled_product_url or request.path == disabled_product_url %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request.path == enabled_product_url or request.path == disabled_product_url %}active{% endif %}">
            <i class="nav-icon fas fa-shopping-bag"></i>
            <p>
              {% trans "Products" %}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'pos:enabled' %}" class="nav-link {% if request.path == enabled_product_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Enabled" %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos:disabled' %}" class="nav-link {% if request.path == disabled_product_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Disabled" %}</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview {% if request.path == order_url or request.path == invoice_url %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request.path == order_url or request.path == invoice_url %}active{% endif %}">
            <i class="nav-icon fas fa-cart-plus"></i>
            <p>
              {% trans "Orders" %}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'pos:order' %}" class="nav-link {% if request.path == order_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Orders" %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos:invoice' %}" class="nav-link {% if request.path == invoice_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Invoices" %}</p>
              </a>
            </li>
            
          </ul>
        </li>

        <li class="nav-item">
          <a href="{% url 'pos:log_list' %}" class="nav-link {% if request.path == log_list_url %}active{% endif %}">
            <i class="nav-icon fas fa-bookmark"></i>
            <p>
              {% trans "Logs" %}
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview {% if request.path == daily_url or request.path == monthly_url %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request.path == daily_url or request.path == monthly_url %}active{% endif %}">
            <i class="nav-icon fas fa-wallet"></i>
            <p>
              {% trans "Expenses" %}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'pos:daily' %}" class="nav-link {% if request.path == daily_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Daily" %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos:monthly' %}" class="nav-link {% if request.path == monthly_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Monthly" %}</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview {% if request.path == session_url or request.path == current_session_url %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request.path == session_url or request.path == current_session_url %}active{% endif %}">
            <i class="nav-icon fas fa-business-time"></i>
            <p>
              {% trans "Sessions" %}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'pos:current_session' %}" class="nav-link {% if request.path == current_session_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Recent" %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos:session' %}" class="nav-link  {% if request.path == session_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "All" %}</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview {% if request.path == monthly_return_url or request.path == annual_return_url %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request.path == monthly_return_url or request.path == annual_return_url  %}active{% endif %}">
            <i class="nav-icon 	fas fa-store-slash"></i>
            <p>
              {% trans "Returns" %}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'pos:monthly_return' %}" class="nav-link {% if request.path == monthly_return_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Month" %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos:annual_return' %}" class="nav-link {% if request.path == annual_return_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Year" %}</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview  {% if request.path == note_url or request.path == category_url or request.path == variant_url %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if request.path == note_url or request.path == category_url or request.path == variant_url %}active{% endif %}">
            <i class="nav-icon fas fa-folder-plus"></i>
            <p>
              {% trans "More" %}
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'pos:notification' %}" class="nav-link  {% if request.path == note_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Notifications" %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos:category' %}" class="nav-link {% if request.path == category_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Categories" %}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pos:variant' %}" class="nav-link {% if request.path == variant_url %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>{% trans "Variants" %}</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>

  {% endif %}
  <!-- /Admin part side bar ends.sidebar -->
</aside>