{% extends 'dashboard_base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
{% get_current_language_bidi as language_bidi %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <div class="content-header">
          <div class="container-fluid">
               <div class="row mb-2">
                    <div class="col-sm-6">
                         <h1 class="m-0 text-dark">{% trans "Invoices" %}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                         <ol class="breadcrumb float-sm-right">
                              <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans " Home" %}</a></li>
                              <li class="breadcrumb-item active">{% trans "Dashboard" %}</li>
                         </ol>
                    </div><!-- /.col -->
               </div><!-- /.row -->
          </div><!-- /.container-fluid -->
     </div>
     <!-- /.content-header -->

     <!-- Main content -->
     <section class="content">
          <div class="container-fluid">

               <div class="row">
                    <div class="col-12">

                         <div class="card">
                              <div class="card-header">
                                   <h3 class="card-title">{% trans "List Of All Invoices" %}</h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                   <table dir="{% if language_bidi %}rtl{% else %}ltr{% endif %}" id="example1" class="table table-bordered table-striped">
                                        <thead>
                                             <tr>
                                                  <th>{% trans "Invoice#" %}</th>
                                                  <th>{% trans "Name" %}</th>
                                                  <th>{% trans "Subtotal" %}</th>
                                                  <th>{% trans "Discount" %}</th>
                                                  <th>{% trans "Net Total" %}</th>
                                                  <th>{% trans "Paid" %}</th>
                                                  <th>{% trans "Remaining" %}</th>
                                                  <th>{% trans "Issue Date" %}</th>
                                                  <th>{% trans "Due Date" %}</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             {% for invoice in object_list %}
                                             <tr>
                                                  <td>
                                                       <a href="{{ invoice.get_absolute_url }}">
                                                            {% trans "Invoice" %}-#{{ invoice.invoice_number }}
                                                       </a>
                                                  </td>
                                                  <td>{{ invoice.customer_name }}</td>
                                                  <td>{{ invoice.invoice_subtotal|add:invoice.invoice_discount }}</td>
                                                  <td>{{ invoice.invoice_discount }}</td>
                                                  <td>{{ invoice.invoice_subtotal }}</td>
                                                  <td>{{ invoice.invoice_paid_amount }}</td>
                                                  <td>{{ invoice.invoice_payable_amount }}</td>
                                                  <td>{{ invoice.invoice_issue_date }}</td>
                                                  <td>{{ invoice.invoice_due_date }}</td>
                                             </tr>
                                             {% endfor %}

                                        </tbody>
                                        <tfoot>
                                             <tr>
                                                  <th>{% trans "Invoice#" %}</th>
                                                  <th>{% trans "Name" %}</th>
                                                  <th>{% trans "Subtotal" %}</th>
                                                  <th>{% trans "Discount" %}</th>
                                                  <th>{% trans "Net Total" %}</th>
                                                  <th>{% trans "Paid" %}</th>
                                                  <th>{% trans "Remaining" %}</th>
                                                  <th>{% trans "Issue Date" %}</th>
                                                  <th>{% trans "Due Date" %}</th>
                                             </tr>
                                        </tfoot>
                                   </table>
                              </div>
                              <!-- /.card-body -->
                         </div>
                         <!-- /.card -->
                    </div>
                    <!-- /.col -->
               </div>
               <!-- /.row -->

          </div><!-- /.container-fluid -->
     </section>
     <!-- /.content -->
</div>
{% endblock %}